.intro h1 {
  font-size: 2.5rem;
  color: #fff;
  animation: fadeInUp 1s ease-in-out;
}

.intro p {
  animation: fadeInUp 1s ease-in-out;
}

.discord-card, .username, .status {
  animation: fadeInUp 1s ease-in-out;
}

.donations-container p {
  animation: fadeInDown 1s ease-in-out;
}

.up-button {
  animation: fadeInDown 1s ease-in-out;
}

.down-button {
  animation: fadeInUp 1s ease-in-out;
}

.iban-details li {
  animation: fadeInRight 1s ease-in-out;
}

.miku {
  animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
