@media (max-width: 800px) {
  .name {
    transform: scale(0.86);
  }

  .socials a {
    transform: scale(0.86);
  }

  p {
    transform: scale(0.86);
  }

  .intro {
    flex-direction: column;
  }

  .discord-card {
    transform: scale(0.86);
  }
}
