@media (max-width: 800px) {
  .name,
  .socials a,
  p {
    transform: scale(0.84);
  }

  .sticky-header img {
    transform: scale(0.75);
    margin-top: -0.5%;
    margin-left: -0.6%;
    margin-right: -0.6%;
  }

  .sticky-header img:hover {
    transform: scale(0.8);
  }

  .discord-card {
    transform: scale(0.75);
    margin-top: -1%;
  }

  .discord-card:hover {
    transform: scale(0.85);
  }

  .sticky-header {
    height: 60px;
  }

  main {
    margin-top: 75px;
  }

  .intro {
    flex-direction: column;
  }
}
