@media (max-width: 800px) {
  .name,
  .socials a,
  p,
  .discord-card {
    transform: scale(0.84);
  }

  .sticky-header img {
    transform: scale(0.75);
  }

  .sticky-header {
    height: 70px;
  }

  .discord-card:hover {
    transform: scale(0.94);
  }

  .intro {
    flex-direction: column;
  }
}
