body {
  font-family: "Roboto Slab", serif;
  background-color: #333;
  color: #ddd;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  text-align: center;
}

.intro {
  background-color: #111;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.intro p {
  margin-bottom: -2%;
}

.image-container {
  display: flex;
  justify-content: center;
}

.tooltip-img {
  position: relative;
  display: inline-block;
}

img {
  max-width: 80%;
  border-radius: 12px;
}

.tooltip-img .tooltiptext-img {
  text-decoration: none;
  visibility: hidden;
  width: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-img:hover .tooltiptext-img {
  visibility: visible;
  opacity: 1;
}

.spotify {
  margin-top: 5%;
}

.socials {
  margin: 1%;
}

.socials a {
  min-width: 7%;
  text-decoration: none;
  margin: 0.5%;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s;
}

/* Socials Responsiveness */
.socials a::before {
  content: attr(data-normal-text);
}

.socials a:hover::before {
  content: attr(data-hover-text);
  font-weight: bold;
}

.twitch {
  background-color: #9147ff;
  color: #fff;
}

.twitch:hover {
  background-color: #6b2fca;
}

.youtube {
  background-color: #ff0000;
  color: #fff;
}

.youtube:hover {
  background-color: #b20000;
}

.twitter {
  background-color: #00a8e8;
  color: #fff;
}

.twitter:hover {
  background-color: #0081ad;
}

.github {
  background-color: #505050;
  color: #ddd;
}

.github:hover {
  background-color: #3a3a3a;
}

.lemmy {
  background-color: #505050;
  color: #ddd;
}

.lemmy:hover {
  background-color: #3a3a3a;
}

.twitter-tooltip {
  color: #00a8e8;
  position: relative;
}

.twitter-tooltip:hover::before {
  content: "@ken_yoru";
  background-color: #008dc5;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.twitter-tooltip:hover::before {
  opacity: 1;
}

.donate {
  background-color: #c70000;
  color: #ddd;
}

.donate:hover {
  background-color: #9e0000;
}

.go-back {
  background-color: #505050;
  color: #ddd;
}

.go-back:hover {
  background-color: #3a3a3a;
}

.iban {
  color: #ff6a6a;
}

.iban:hover {
  cursor: pointer;
  text-decoration: underline;
}

.iban-details {
  display: none;
}

.iban-details li {
  text-align: left;
  margin-left: 20%;
}

.iban-show {
  display: block;
}

.iban-name,
.iban-num {
  position: relative;
  cursor: pointer;
  text-decoration: underline;
  color: #00a8e8;
}

.iban-num:hover::before {
  content: "Click me";
  background-color: #008dc5;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.iban-name:hover::before {
  content: "Click me";
  background-color: #008dc5;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.iban-name:hover::before,
.iban-num:hover::before {
  opacity: 1;
}

.iban-num[clicked]::before {
  content: "Copied..";
  background-color: #008dc5;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.iban-name[clicked]::before {
  content: "Copied..";
  background-color: #008dc5;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.donations-container {
  background-color: #111;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

/* Responsiveness */
@media (max-width: 800px) {
  .name {
    font-size: 0.8em;
  }
  p {
    font-size: 0.8em;
  }
  img {
    max-width: 50%;
    border-radius: 10px;
  }
}
