body {
  font-family: "Roboto Slab", serif;
  background-color: #333;
  color: #ddd;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

.music-player {
  position: absolute; /* Position the music player absolutely */
  bottom: 5%; /* Position it at the bottom of the container */
  left: 5%; /* Position it at the left of the container */
  padding: 10px; /* Add some padding for better visibility */
  background-color: rgba(0, 0, 0, 0.7); /* Adding a semi-transparent background for better visibility */
}

.intro {
  background-color: #111;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.intro p {
  margin-bottom: -2%;
}

.image-container {
  display: flex;
  justify-content: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

img {
  max-width: 80%;
  border-radius: 12px;
}

.tooltip .tooltiptext {
  text-decoration: none;
  visibility: hidden;
  width: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.spotify {
  margin-top: 5%;
}

.socials {
  margin: 1%;
}

.socials a {
  min-width: 7%;
  text-decoration: none;
  margin: 0.5%;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s;
}

/* Socials Responsiveness */
.socials a::before {
  content: attr(data-normal-text);
}

.socials a:hover::before {
  content: attr(data-hover-text);
  font-weight: bold;
}

.twitch {
  background-color: #9147ff;
  color: #fff;
}

.twitch:hover {
  background-color: #6b2fca;
}

.youtube {
  background-color: #ff0000;
  color: #fff;
}

.youtube:hover {
  background-color: #b20000;
}

.twitter {
  background-color: #00a8e8;
  color: #fff;
}

.twitter:hover {
  background-color: #0081ad;
}

.github {
  background-color: #505050;
  color: #ddd;
}

.github:hover {
  background-color: #3a3a3a;
}

.lemmy {
  background-color: #505050;
  color: #ddd;
}

.lemmy:hover {
  background-color: #3a3a3a;
}

/* Responsiveness */
@media (max-width: 800px) {
  .name {
    font-size: 0.8em;
  }
  p {
    font-size: 0.8em;
  }
  img {
    max-width: 50%;
    border-radius: 10px;
  }
}
